/* App.css */

.App {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #004455;
  color: white;
}

.menu-icon {
  cursor: pointer;
}

.sidebar {
  width: 250px;
  background-color: #023c4a;
  color: white;
  height: 100vh;
  position: absolute;
  left: -250px;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.container {
  display: flex;
}

.main-content {
  padding: 20px;
  margin-left: 250px;
}

.log-issue-form {
  display: flex;
  flex-direction: column;
}

.log-issue-form label {
  margin-bottom: 10px;
}

.log-issue-form input,
.log-issue-form select,
.log-issue-form textarea {
  margin-top: 5px;
  padding: 5px;
}
